# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# App
DATABASE_URL=mysql+pymysql://aramis_user:aramis_password@mysql:3306/aramis_db
BACKEND_URL=http://backend:8000

GOOGLE_API_KEY =

OPENAI_API_KEY=